body {
}

#top-bar {
    background-color: #3d648f;
    height: 6px;
    width: 100%;
    margin: 0;
}

header {
    height: 151px;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 1px #cddaeb;
    background-color: #fcfcfc;
    margin: 0;
}
    header .container {
        height: 151px;
    }

    header .container h1 {
        margin: 50px 0 auto 0;
        vertical-align: middle;
    }

#menu {
    float: right;
    margin: 50px 0 auto 0;
    
}

.row {
    margin: 0px;
}

#row-container {
    height: 100%;
}

#doc-container {
    height: 100%;
}

#left-sidebar {
    width:350px;
    height:10520px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 1px #cddaeb; 
    margin: -2px 0 0 0;
}

#left-sidebar-index {
    width:350px;
    height: 460px;
    background-color: #fcfcfc;
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 1px #cddaeb; 
    margin: -2px 0 0 0;
}

#left-sidebar-text {
    width:320px;
    position: fixed;
    margin: 0;
}


#left-content {
    width: 69%;
    
}
#left-sidebar a {
    color:#6b9ec3;
    margin-top: 5px;
    display: block;
    font-size:18px;
    border-bottom: 1px solid #f4f4f4;
}

#left-sidebar-index a{
    color:#6b9ec3;
    margin-top: 5px;
    display: block;
    font-size:18px;
    border-bottom: 1px solid #f4f4f4;
    }

.a-sub{
    margin-left:20px;
}
.b-sub{
    margin-left:50px;
}
@media (max-width: 767px) {
    #left-sidebar {
        position:relative;
    }
    #left-sidebar-index {
        position: relative;
    }
    .col-xs-12.col-sm-6.col-md-8 {
        margin-left:0px;
    }
}
.go-up {
    width:50px;
    top:90%;
    left:94.5%;
    position:fixed;
}
.col-xs-12.col-sm-6.col-md-8 .text {
    font-size:18px;
}
.col-xs-12.col-sm-6.col-md-8 ul {
    list-style-type:none;
}

#content {
    width: 68%;
}

.gray {
    color: #a2a2a2;
}